body{
	background-image: url('road.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.container{
	position: absolute;
  	right: 150px;
  	padding: 10px;
  	margin-top: 50px;
}

.col-sm-3{
	position: relative;
	z-index: 2;
	background: rgba(0,0,0,0.4);
	max-width: 360px;
	padding: 50px;
	font-family: poppins;
	color: white;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	color: white;
	margin-bottom: 0px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #ffffff;
}
